<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href=" {% static 'static/style.css' %}  ">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>

    <header >
        
        <div class="main">            
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
        <a href="#" class="logo"><i class="ri-home-heart-line"></i><span>logo</span></a>

        <ul class="navbar" >
            <li><a href="#" > Home</a></li>
            <li><a href="#" > About Us</a></li>
            <li><a href="#" > Services</a></li>
            <li><a href="#" > Blog</a></li>
            <li><a href="#" > Contact</a></li>
        </ul>

        <a href="#" class="user"><i class="ri-user-fill"></i>Sign In</a>
    </header>
    <div>
    {% block content  %}
    {% endblock  %}
    </div>
    <Script type="text/javascript" src=" {% static 'static/script.js' %} "></Script>
    
</body>
</html>









<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>mysite</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="/" class= "navbar-item"><strong> myblog</strong> </a>
            </div>
        </nav>
        <section calss="section">
            <div calss="container">
               
                
    </body>
</html>
